//custom colors
$primary: #FFB300;
$secondary: #B3DB18;
$trinary: #3DD250;
//$text-primary: #FFFFFF;

//$contrast-primary: #000000;
//$contrast-secondary:#FDFFFC;
//$contrast-trinary: #FFD000;
//$contrast-text: #FFFFFF;

//custom variables

//$border-radius-lg: .5rem;

@import "../node_modules/bootstrap/scss/bootstrap";

